<% include ./partials/header %>
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="text-capitalize p-3 card-title">welcome to Yelp Camp</h5>
        <p class="card-text">You can view and add campgrounds</p>
        <a href="/campgrounds" role="button" class="btn btn-primary"
          >View campgrounds</a
        >
    </div>
  </div>
  <div class="row">
    <a href="/register" class="btn btn-outline-primary mr-1" role="button"
      >Register</a
    >
    <a href="/login" class="btn btn-outline-success" role="button">Login</a>
  </div>
</div>

<% include ./partials/footer %>
